.animate {
    animation-duration: .8s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
}

#input_div{
    transition: 0.5s ease;
}

/*#input_div{*/
/*    border: 1px solid red;*/
/*    transition: ease;*/
/*}*/

@keyframes animate-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.transformPos {
    /*animation-duration: .6s;*/
    /*animation-name: transform-pos;*/
    /*animation-fill-mode: forwards;*/
    animation: transform-pos .5s ease-in-out forwards;

}

@keyframes transform-pos {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(42%);
    }
}

.error {
    animation: shake 0.2s ease-in-out 0s 2;
}

@keyframes shake {
    0% {
        margin-left: 0rem;
    }
    25% {
        margin-left: 0.5rem;
    }
    75% {
        margin-left: -0.5rem;
    }
    100% {
        margin-left: 0rem;
    }
}